body
{
    background-image: url(https://www.noaa.gov/sites/default/files/styles/landscape_width_1275/public/legacy/image/2019/Jun/PHOTO-dark%20and%20stormy%20cloudscape-istock-1125x534-Landscape.jpg);
}
.ASearch
{
    display: none;
}
.logo
{
    height: 150px;
}
.output
{
    background-color: rgb(223, 223, 223,0.5);
    border-radius: 25px;
}
